body {
    font-family: Arial;
    background: #121212;
    color: white;
    margin: 0;
}

h1 {
    text-align: center;
}

.navbar {
    background: #1e1e1e;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.container {
    padding: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-bottom: 20px;
}

.card {
    background: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

button {
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
}